:root {
  --blue-color: #2525a9;
  --tip-orange: #00ff66;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm;
}

.btn-disabled,
.btn-disabled:hover {
  @apply opacity-60;
}

.menu > li {
  @apply text-white;
}

.menu > li > a {
  @apply hover:text-tip-orange
}

.menu > li > a.active {
  color: var(--tip-orange) !important;
  background-color: var(--blue-color) !important;
}
